@import "@/mixins.scss";

.cardSkeleton {
  border-radius: 20px;
  margin: 80px auto;
  margin-top: 30px;
  background-color: rgb(243, 244, 245);
  width: 70%;
  padding: 0px 12px;
  @include sm {
    padding: 0px 0px;
    width: 400px;
  }
  .imageSkeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    margin: 18px auto;
    height: 100%;
    width: 100%;
    padding: 100px 50px;
    @include sm {
      padding: 0px 0px;
      height: 200px;
      width: 300px;
    }
    border-radius: 20px;
  }
  .headingSkeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    height: 100%;
    width: 95%;
    border-radius: 20px;
    margin: 0px 8px;

    padding: 10px 10px;
    @include sm {
      padding: 0px 0px;
      margin: 15px 55px;
      height: 20px;
      width: 270px;
    }
  }
  .subHeadingSkeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 20px;
    padding: 10px 10px;
    height: 100%;
    width: 80%;
    margin: 12px 8px;
    @include sm {
      padding: 0px 0px;
      margin: 12px 55px;
      height: 20px;
      width: 220px;
    }
  }
  .icons {
    display: flex;
    justify-content: space-between;
    @include sm {
      margin: 12px 40px;
    }
    padding: 12px 0px;
    flex-wrap: wrap;
    gap: 12px;
    .iconSkeleton {
      animation: skeleton-loading 1s linear infinite alternate;
      border-radius: 40px;
      width: 50px;
      height: 50px;
      @include sm {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 15%, 70%);
  }
  100% {
    background-color: hsl(200, 10%, 80%);
  }
}
